{% extends "learning_logs\base.html" %}
{% load bootstrap3 %}

{% block content %}
<form action = "{% url 'users:register' %}" method = 'POST'>
    {% csrf_token%}
    <!--{{form.as_p}} -->
    <label for ="username"> username:</label>
    <input type = "text" name="username" id = 'username' value=""/>
    <span style ='color:red;'>{{error_msg}} </span>
    <br/>
    
    <label for = "password">password: </label>
    <input type = "text" name="password" value=""/>
    
    <br/>
    <label for = "email"> email: </label>
    <input type = 'text' name = "email" id = "email" value=""/>
    <br/>
    {% buttons %}
    <button name ="submit" class = "btn btn-primary"> register </button>
    {% endbuttons %}
</form>
{% endblock content %}